<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.Name %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= user.Photo %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= user.Bio %>
  </p>

  <p>
    <strong>Postscounter:</strong>
    <%= user.PostsCounter %>
  </p>

</div>
