<h1>New post</h1>

<%= form_with(model: @post, local: true, url: new_user_post_path(:user_id => @current_user )) do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>

  <%= form.label :text %>
  <%= form.text_area :text %>
  
  <%= form.submit %>

<% end %>