<h1>New post</h1>

<%= form_with(model: @post, local: true, url: new_user_post_path(:user_id => ApplicationController.current_user.id)) do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>

  <%= form.label :text %>
  <%= form.text_area :text %>
  
  <%= form.submit %>

<% end %>