
<!DOCTYPE html>
<html>
  <head>
    <title>"Mi sitio web"</title>
    <%= stylesheet_link_tag 'user/user', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  
  <div class="subParentContent">
  <div class="contentIconName"> 
  <div class="contentIcon">  <%= image_tag "icon.png", alt: "adadasda", class: "contentIcon" %>  
  </div> 
  <div class="contentNamePost">
      <h2 class="name">"User Name"</h2>
       <h3 class="numberPosts">"Number of posts: x"</h3> 
      </div> 
  </div>
      </div>


      
  <div class="subParentContent">
  <div class="contentIconName"> 
  <div class="contentIcon">  <%= image_tag "icon.png", alt: "adadasda", class: "contentIcon" %>  
  </div> 
  <div class="contentNamePost">
      <h2 class="name">"User Name"</h2>
       <h3 class="numberPosts">"Number of posts: x"</h3> 
      </div> 
  </div>
      </div>


      <div class="subParentContent">
  <div class="contentIconName"> 
  <div class="contentIcon">  <%= image_tag "icon.png", alt: "adadasda", class: "contentIcon" %>  
  </div> 
  <div class="contentNamePost">
      <h2 class="name">"User Name"</h2>
       <h3 class="numberPosts">"Number of posts: x"</h3> 
      </div> 
  </div>
      </div>


      <div class="subParentContent">
  <div class="contentIconName"> 
  <div class="contentIcon">  <%= image_tag "icon.png", alt: "adadasda", class: "contentIcon" %>  
  </div> 
  <div class="contentNamePost">
      <h2 class="name">"User Name"</h2>
       <h3 class="numberPosts">"Number of posts: x"</h3> 
      </div> 
  </div>
      </div>


      <div class="subParentContent">
  <div class="contentIconName"> 
  <div class="contentIcon">  <%= image_tag "icon.png", alt: "adadasda", class: "contentIcon" %>  
  </div> 
  <div class="contentNamePost">
      <h2 class="name">"User Name"</h2>
       <h3 class="numberPosts">"Number of posts: x"</h3> 
      </div> 
  </div>
      </div>

      <div class="subParentContent">
  <div class="contentIconName"> 
  <div class="contentIcon">  <%= image_tag "icon.png", alt: "adadasda", class: "contentIcon" %>  
  </div> 
  <div class="contentNamePost">
      <h2 class="name">"User Name"</h2>
       <h3 class="numberPosts">"Number of posts: x"</h3> 
      </div> 
  </div>
      </div>
  </body>
</html>
