  <div class="postComment_post_show">

    
        <div class="postSection_post_show"> 
         <h2 class="numPost_post_show">Post <%= @post.id %> By  <%= @post.user.Name %></h2>
        <h3 class="comLikesPost_post_show">
        Comments: <%= @comments_count_by_post %>, 
        Likes: <%= @likes_count_by_post %> </h3>
        <p class="textPost_post_show">
        <%= @post.Text %> 
        </p>
        </div>
        <ul class="commentSection_post_show"> 

        <% @comments_by_post.each do |comment| %>
        <li class="commentByUser_post_show">
        <h2 class="userComment_post_show"> <%= comment.user.Name %> :  
         <h3 class="commentMessage_post_show"> <%= comment.Text %></h3> 
        </h2>
         </li> 
         <% end %>

        </ul>
        <%= link_to "Create new comment", new_user_post_comment_path(:user_id => ApplicationController.current_user.id,:post_id => @post_id.id) , class: "btn btn-primary" %>        
        
  </div>
